
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint.ipynb
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint.json
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint/text~1plain/1559841339_2_0.bat
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint/text~1plain/1559841343_2_0.bat
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint/text~1plain/1559841356_2_0.bat
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint/text~1plain/1559841366_2_0.bat
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint/text~1plain/1559841488_3_0.bat
.ipynb_checkpoints/2019-06-06-Untitled-checkpoint/text~1plain/1559841505_3_0.bat
