[submodule "src/_routine/c852b9eb1783f02ccd96a35c73d465be"]
	path = src/_routine/import_specific_typing
	url = https://gist.github.com/tonyfast/c852b9eb1783f02ccd96a35c73d465be
[submodule "src/_routine/9bc79ddb7200e77394f546bc69e11c6f"]
	path = src/_routine/p6_is_dirty
	url = https://gist.github.com/tonyfast/9bc79ddb7200e77394f546bc69e11c6f
[submodule "src/_routine/tonyfast/aaae55bac20f27029b4d92f05a79d005"]
	path = src/_routine/pilferred_qr_post/
	url = https://gist.github.com/tonyfast/aaae55bac20f27029b4d92f05a79d005
[submodule "src/_routine/8a661a3666a6f3793fa72a8bb0955a8a"]
	path = src/_routine/shape_based_constraint_language
	url = https://gist.github.com/bollwyvl/8a661a3666a6f3793fa72a8bb0955a8a
[submodule "src/_routine/fcadd096e201b5ba6be1dd6d60697d8d"]
	path = src/_routine/a_better_blogging_layout
	url = https://gist.github.com/fcadd096e201b5ba6be1dd6d60697d8d
